pkgbase = qcom-qairt
	pkgver = 2.50.40.260831
	pkgrel = 1
	url = https://softwarecenter.qualcomm.com
	arch = aarch64
	license = custom:Qualcomm-Technologies-Inc.-Proprietary
	makedepends = unzip
	options = !strip
	options = !debug
	source = https://softwarecenter.qualcomm.com/api/download/software/sdks/Qualcomm_AI_Runtime_Community/All/2.50.40.260831/v2.50.40.260831.zip
	sha256sums = e821833cff67b0c55a413c920658cf9132a92e06309b6c26900149fd1a8809da

pkgname = qcom-qairt-sdk-v68
	pkgdesc = Qualcomm AI Runtime SDK with QNN, SNPE, QAIRT, and Genie (Hexagon v68)
	depends = gcc-libs
	depends = python312
	provides = qcom-qairt-sdk
	provides = qcom-qnn-sdk
	provides = qcom-snpe-sdk
	provides = qcom-qnn-sdk-v68
	provides = qcom-snpe-sdk-v68
	conflicts = qcom-qairt-sdk-v73
	conflicts = qcom-qnn-sdk-v68
	conflicts = qcom-snpe-sdk-v68
	conflicts = qcom-qnn-sdk-v73
	conflicts = qcom-snpe-sdk-v73
	replaces = qcom-qnn-sdk-v68
	replaces = qcom-snpe-sdk-v68

pkgname = qcom-qairt-sdk-v73
	pkgdesc = Qualcomm AI Runtime SDK with QNN, SNPE, QAIRT, and Genie (Hexagon v73)
	depends = gcc-libs
	depends = python312
	provides = qcom-qairt-sdk
	provides = qcom-qnn-sdk
	provides = qcom-snpe-sdk
	provides = qcom-qnn-sdk-v73
	provides = qcom-snpe-sdk-v73
	conflicts = qcom-qairt-sdk-v68
	conflicts = qcom-qnn-sdk-v68
	conflicts = qcom-snpe-sdk-v68
	conflicts = qcom-qnn-sdk-v73
	conflicts = qcom-snpe-sdk-v73
	replaces = qcom-qnn-sdk-v73
	replaces = qcom-snpe-sdk-v73
